<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles5.css">
    <title>Seller Registration</title>    

</head>
<body>
    <form action="/sellerRegistration" method="post">
        <label >First Name</label>
        <input type="text" name="fName"  autocomplete="off">
        <br>
        <label >Last Name</label>
        <input type="text" name="lName"  autocomplete="off">
        <br>
        <label >Email Address </label>
        <input type="email" name="email"  autocomplete="off">
        <br>
        <label >Password </label>
        <input type="password" name="password"  autocomplete="off" >
        <br>
        <button type="submit"> Next </button>
    </form>

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Syncopate&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles5.css">
    <title>Seller Registration</title>
    
</head>
<body>

    <div class="header">
        <h2><span class="logo-1">A</span><span class="logo-2">RTISAN ALLEY</span></h2>
    </div>
    
    <form action="/sellerRegistration" method="post">
        <header>Get StaRted</header>
        <label >First Name</label>
        <input type="text" name="fName"  autocomplete="off">
        <br>
        <label >Last Name</label>
        <input type="text" name="lName"  autocomplete="off">
        <br>
        <label >Email Address </label>
        <input type="email" name="email"  autocomplete="off">
        <br>
        <label >Password </label>
        <input type="password" name="password"  autocomplete="off" >
        <br>
        <span class="next-button"><button type="submit"> NEXT </button></span>
    </form>
    
</body>
</html>