body {
  background-color: #d9d9d9;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
}

.logo-1 {
  font-size: 60px;
  color: #582f0e;
  font-family: syncopate;
  font-weight: lighter;
}

.logo-2 {
  color: #582f0e;
  font-family: syncopate;
}

h3 {
  margin: 0;
  font-size: 24px;
  align-self: center;
  font-weight: bold;
  color: #582f0e;
  font-family: syncopate;
  align-items: center;
}

.product-desc-container {
  margin-top: 100px;
  display: grid;
  background-color: #a4ac86;
  grid-template-columns: 60% 40%;
  grid-template-rows: 550px 805px;
}

.image-container-details {
  display: flex;
  background-color: #a4ac86;
  position: relative;
  top: 50px;
}

.image-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333d29;
  width: 450px;
  height: 450px;
}

.product-image-2 {
  height: 450px;
  width: 450px;
}

.description-product {
  display: flex;
  justify-content: center;
  font-size: 33px;
  font-family: syncopate;
  letter-spacing: 1px;
  background-color: #d9d9d9;
  height: 1000px;
  border: 1px solid #cfc2c2;
}

.product-details {
  position: relative;
  top: 90%;
  left: 20%;
  font-size: 30px;
  font-family: syncopate;
}

.span-2 {
  font-size: 25px;
  color: rgb(78, 39, 32);
  margin-bottom: 100px;
}

.seller-keyword {
  position: relative;
  bottom: 15px;
}

/*

.bargain-button {
  position: relative;
  top: 80px;
  right: 122px;
  height: 80px;   /* It was also working but the problem was, 
                    the middle part color was not changing, can be used if we don't mind to changing the color 
                    in the center of the button, Also this code section is easy compared to, where we used 'Pseudo-classes'.
  width: 330px;
  cursor: pointer;
  border-style: solid;
  border-width: 0px 80px;
  border-color: #333D29;

}

*/

/*  

.bargain-button {
  position: relative;
  top: 80px;
  right: 122px;
  height: 80px;
  width: 330px;
  
  border-style: solid;
  border-width: 0px;
  background-clip: padding-box;
  background: 
    linear-gradient(to right, #22281b, #333D29) left,
    linear-gradient(to right, #cac4c4 , #D9D9D9 ) center,
    linear-gradient(to right, #22281b, #333D29) right;
  background-size: 25% 100%, 50% 100%, 25% 100%;
  background-repeat: no-repeat;
  background-position: left top, center top, right top;
}


.bargain-button::before,
.bargain-button::after {
content: "";
position: absolute;
top: 0;
width: 80px; 
height: 100%;



}

.bargain-button:hover::before {
  cursor: pointer;
  left: 0;
}

.bargain-button:hover::after {
  cursor: pointer;
  right: 0;
}


.bargain-button:hover:before {
  cursor: pointer;
}

.bargain-button:hover::after {
  cursor: pointer;
}





  */
.bargain-container {
  display: flex;
  align-items: center;
  width: 400px;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 50px auto;
}

.bargain-input {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #ccc;
  padding: 0 10px;
}

.price-label {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

#price-input {
  width: 100%;
  height: 60%;
  border: none;
  font-size: 20px;
  text-align: center;
}

.bargain-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 0 10px;
}

.bargain-btn {
  display: block;
  width: 60px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s ease;
  background-color: #414833;
}

.bargain-btn:hover {
  background-color: #f5f5f5;
}

/*  */

.product-actions-list {
  position: relative;
  top: 20%;
  right: 33px;
}

ul {
  list-style: none;
}

li:before {
  content: "➤";
  font-size: 25px;
  margin-right: 5px;
  padding-right: 10px;
}

li {
  margin-bottom: 30px;
}

.item:hover {
  cursor: pointer;
}

.similar-items {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-family: syncopate;
  font-size: 40px;
  font-weight: lighter;
}

.similar-items-grid {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.item {
  margin: 30px;
  height: 350px;
  width: 350px;
  margin-bottom: 20px;
  background-color: #333d29;
  border: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
}

.pink-section {
  margin-top: 60px;
  height: 600px;
  background-color: #a4ac86;
}
